@{
    ViewBag.Title = "DeleteBook";
}

<div>
    <h3>Подтвердите удаление статьи</h3>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />}
</div>
<div>
    @Html.ActionLink("Вернуться к списку", "Admin")
</div>