@model NewsBlog.Models.Category

@{
    ViewBag.Title = "DeleteCategory";
}

<h2>Удаление категории</h2>

<h3>Вы действительно хотите удалить эту категорию?</h3>
<div>
    <h4>Удаление этой категории приведет к удалению всех новостей с данной категорией.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку категорий", "CategoryList")
        </div>
    }
</div>
